.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.App-header {
	width: 100%;
	background-color: var(--header-bg-color);
	min-height: 8vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(1px + 2vmin);
	color: white;
}
