.repl {
	width: 90%;
	margin: auto;
	padding: 20px;
	position: relative;
	min-height: 95vh;
	background-color: var(--input-bg-color);
	color: var(--input-text-color);
}

.repl-input,
.repl-history {
	flex: 1;
	margin: 10px;
	min-width: 300px;
}

#listDiv {
	flex: 2;
}

.repl-command-box {
	flex-grow: 1;
	margin-right: 10px;
	width: 90%;
	background-color: var(--input-bg-color);
	color: var(--input-text-color);
	border: 1px solid var(--input-border-color);
	padding: 10px;
	border-radius: 5px;
}

.user-panel {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	padding: 20px;
	max-width: 400px;
	width: 100%;
	min-height: 200px;
	background-color: var(--input-bg-color);
	color: var(--input-text-color);
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
}

.content-panel {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.preferences-container {
	width: 100%;
	max-width: 1200px;
	margin-bottom: 20px;
}

.search-sort-resorts {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}

#searchButton,
#sortButton,
#preferenceButton,
#upButton,
#downButton {
	background-color: var(--primary-button-color);
	color: white;
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.25s;
}

#preferenceButton {
	width: 100%;
	padding: 10px;
	font-size: 1em;
	margin-top: 20px;
}

#searchButton:hover,
#sortButton:hover,
#preferenceButton:hover,
#upButton:hover,
#downButton:hover {
	background-color: var(--hover-button-color);
}

#sortDropdown,
#searchDropdown {
	width: 100%;
	padding: 8px;
	background-color: var(--input-bg-color);
	color: var(--input-text-color);
	border: 1px solid var(--input-border-color);
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.25s;
}

#sortDropdown:hover,
#searchDropdown:hover {
	background-color: var(--hover-button-color);
}

.dropdownHR {
	height: 1px;
	background-color: var(--input-border-color);
	border: none;
	margin: 8px 0;
}

.sortTableDatum,
#preferenceTableDatum,
.spacerDatum {
	padding: 8px;
}

.preferences-container h2 {
	border-bottom: 2px solid #7f8fa6;
	padding-bottom: 30px;
	margin-bottom: 10px;
}

#prefTable {
	width: 100%;
	border-collapse: separate;
}

#prefTable td {
	border-bottom: 1px solid #7f8fa6;
	padding: 10px;
	position: relative;
}

#prefTable tr:last-child td {
	border-bottom: none;
}

#prefTable td.spacerDatum {
	width: 2px;
	background-color: #242424;
	border-left: 2px solid #7f8fa6;
	border-right: 2px solid #242424;
}

#listDiv {
	border-radius: 8px;
	padding: 20px;
	background-color: var(--input-bg-color);
	color: var(--input-text-color);
}

.login-button {
	padding: 10px 20px;
	font-size: 1em;
	background-color: var(--primary-button-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: white;
}

.login-button:hover {
	background-color: var(--hover-button-color);
}
