.repl {
	width: 90%;
	margin: auto;
	padding: 20px;
	position: relative;
	min-height: 95vh;
	background-color: var(--input-bg-color);
	color: var(--input-text-color);
}

.repl-history {
	height: 45vh;
	margin: auto;
	overflow: auto;
}

.repl-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.repl-command-box {
	flex-grow: 1;
	margin-right: 10px;
	width: 90%;
	background-color: var(--input-bg-color);
	color: var(--input-text-color);
	border: 1px solid var(--input-border-color);
	padding: 10px;
	border-radius: 5px;
}

#searchButton,
#sortButton,
#preferenceButton,
#upButton,
#downButton {
	background-color: var(--primary-button-color);
	color: white;
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.25s;
}

#searchButton:hover,
#sortButton:hover,
#preferenceButton:hover,
#upButton:hover,
#downButton:hover {
	background-color: var(--hover-button-color);
}

#sortDropdown,
#searchDropdown {
	width: 100%;
	padding: 8px;
	background-color: var(--input-bg-color);
	color: var(--input-text-color);
	border: 1px solid var(--input-border-color);
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.25s;
}

#sortDropdown:hover,
#searchDropdown:hover {
	background-color: var(--hover-button-color);
}

.dropdownHR {
	height: 1px;
	background-color: var(--input-border-color);
	border: none;
	margin: 8px 0;
}

.sortTableDatum,
#preferenceTableDatum,
.spacerDatum {
	padding: 8px;
}

#prefTable {
	width: 100%;
	border-collapse: collapse;
}

#listDiv {
	border-radius: 8px;
	padding: 20px;
	background-color: var(--input-bg-color);
	color: var(--input-text-color);
}

.profile-or-login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	padding: 20px;
	max-width: 400px;
	width: 100%;
	min-height: 200px;
	background-color: var(--input-bg-color);
	color: var(--input-text-color);
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
}

.login-button {
	padding: 10px 20px;
	font-size: 1em;
	background-color: var(--primary-button-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: white;
}

.login-button:hover {
	background-color: var(--hover-button-color);
}
